extends layout
block content
  main#content-bg
    h1= title
    section#pixel-board-container 
      each cell,index in gridData.grid
        span(class=cell.class id=cell.id)= cell.id
  div#color-picker
    ul#color-list
      li#color-swatch.item
      li.item
      li.item
      li.item
      li.item
      li.item
      li.item
      li.item
