extends layout
block content
  main#content-bg
    section#pixel-board-container 
      each cell,index in gridData.grid
        span(class=cell.className id=cell.id, data-color=cell.color)
  div#color-picker
    ul#color-list
      li#color-swatch.item
      li.item
      li.item
      li.item
      li.item
      li.item
      li.item
      li.item
      li.item
      li.item
      li.item
