doctype html
html
  head
    title= title
    meta(name='viewport')
    script(src='https://cdn.socket.io/4.5.4/socket.io.min.js' defer=true)
    script(src='/javascripts/index.js' defer=true type='module')
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
    block content
