doctype html
html
  head
    title= title
    script(src="https://cdn.socket.io/4.5.4/socket.io.min.js" defer=true)
    script(src='/javascripts/index.js' defer=true type='module')
  body
    block content
